.vscode/*

# JetBrains IDEs
.idea
.idea_modules
*.iws

# CMake
cmake-build*

# user config
build_all.local.sh
build_docker.local.sh
*.filters
*.vcxproj
*.lastbuildstate
*.tlog
*.recipe
*.obj
*.res
*.pdb
*.ipdb
*.iobj
*.idb
*.ilk
*.exe
*.sln
*.lib
*.depend
*.stamp
*.cmake
*.txt
*.json
*.list
*.rule
*.yaml
*.verify_globs
*.check_cache
*.bin
*.exp
build-msvc/CMakeFiles/_CMakeLTOTest-CXX/src/main.cpp
build-msvc/CMakeFiles/_CMakeLTOTest-CXX/src/foo.cpp
build-msvc/CMakeFiles/_CMakeLTOTest-C/src/main.c
build-msvc/CMakeFiles/_CMakeLTOTest-C/src/foo.c
build-msvc/CMakeFiles/4.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-msvc/CMakeFiles/4.0.2/CompilerIdC/CMakeCCompilerId.c
