1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "SpiceTools"
            VALUE "FileDescription", "SpiceTools DLL Stub"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "ProductName", "SpiceTools DLL Stub"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
